.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  max-height: 1000px;
  padding: 0px 3rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #6f42c1;
}

.innerContainer {
  display: flex;
  flex-flow: column nowrap;
  max-height: calc(1000px - 6rem);
  flex-basis: 100%;
  border-radius: 2rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
}

.info {
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: right;
  background-color: white;
}

.day {
  color: rgb(155, 155, 155);
}

.hiddenArea {
  height: 100px;
}

.inputWrapper {
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  transition: 0.125s;
  height: 100px;
  overflow-y: hidden;
}

.textField {
  transition: 0.125s;
  transform: translateY(100px);
}
.add {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  bottom: -42px;
  border-radius: 100%;
  transition: 0.125s;
  background-color: #d94646;
  color: white;
  transform: rotate(45deg);
}

.todo {
  flex-basis: 100%;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.todoInput {
  background-color: 'white';
}

.buttonWrapper {
  text-align: center;
}